<% provide(:title, "About") %>

<h1>About Me</h1>
<p>
  I was born and raised in New York City, the son of two artists.
  After undergrad at Hartwick College, I taught English in Austria on a
  Fulbright Grant, got an LLM in International Law at the University of
  Edinburgh in Scotland, and went to law school at the University of Miami.
  After deciding that being a lawyer was not for me
  <a href=
    "http://leavelawbehind.com/2016/01/19/lessons-from-someone-who-just-left"
    target="_blank"> (at least for now),
  </a>
  I went to <a href="http://wyncode.co" target="_blank">Wyncode Academy</a>
  in Miami to learn how to be a web developer and make websites. I am currently
  building my startup company TopOutlines.com and am looking for a job
  programming, or in a related field. I live in Miami, Florida with my
  girlfriend Stephanie, and our dog Bridger. If you would like to contact
  me about a web development or writing job, I can be reached at
  KraemerWest@gmail.com.
</p>
