<% provide(:title, "Home") %>


<div id="Title">
  <h1>West Kraemer's Web Dev & Writing Portfolio</h1>
</div>

<div id="Message">
  <p>Thoughful Design and Original Writing</p>
</div>

<div id="Webdev">
  <p>Web Dev Projects</p>
  <div id=whiteboard>
    <%= image_tag("whiteboard.jpg", :alt => "A Picture of a whiteboard") %>
  </div>
</div>

<div id="Writing">
  <p>Writing Projects</p>
  <div id=whiteboard>
    <%= image_tag("typewriter.jpg", :alt => "A Picture of a whiteboard") %>
  </div>
</div>

<div id="About">
  <p>About</p>
</div>
