<% provide(:title, "Home") %>


<div id="Title">
  <h1>West Kraemer's Web Dev & Writing Portfolio</h1>
</div>

<div id="Message">
  <h2>Thoughful Design and Original Writing</h2>
</div>

<div class="Webdev">
  <p>Web Dev Projects</p>
    <img src="assets/whiteboard.jpg" alt="Whiteboard", id="whiteboard">
</div>

<div id="Writing">
  <p>Writing Projects</p>
    <img src="assets/typewriter.jpg" alt="Typewriter", id="typewriter">
</div>

<div id="About">
  <p>About</p>
    <img src="assets/kraemer.jpg" alt="Me", id="kraemer">
</div>
