// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  height: 100%;
  background-image: url("/assets/floorwhite.jpg");
  background-size: cover;
  color: #000; text-shadow: 1px 1px 0 #fff;
}
// HOME PAGE STYLING
#Title {
    background-color: yellow;
}

#Message {
    background-color: yellow;
}

#Webdev {
    background-color: yellow;
}

#Writing {
    background-color: yellow;
}

#About {
    background-color: yellow;
}
