// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// HOME PAGE STYLING
#whiteboard {
  width: 225px;
  height: 200px;
}

#typewriter {
  width: 225px;
  height: 200px;
}

#kraemer {
  width: 225px;
  height: 200px;
}

// background image
body {
    background-image: url("floorwhite.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
